######### ORDER DB ENV VARIABLES #########
ORDER_DB_NAME=
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_HOST=
ORDER_DB_PORT=

######### RABBIT ENV VARIABLES #########
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=