######### STOCK DB ENV VARIABLES #########
STOCK_DB_NAME=
STOCK_DB_USER=
STOCK_DB_PASSWORD=
STOCK_DB_HOST=stock_database
STOCK_DB_PORT=

######### RABBIT ENV VARIABLES
RABBITMQ_EXCHANGE=
RABBITMQ_QUEUE=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=